@font-face {
  font-family: 'Avenir Next';
  src: url(/assets/fonts/AvenirNextLTPro-Regular.otf);
}

@font-face {
  font-family: 'Avenir Next';
  src: url(/assets/fonts/AvenirNextLTPro-Bold.otf);
  font-weight: bold;
}

@font-face {
  font-family: 'Avenir Next';
  src: url(/assets/fonts/AvenirNextLTPro-It.otf);
  font-style: italic;
}

html
{
  --dominant: #278A8F;
  --complementary: #EDD8BB;
  --accent: #C23B27;
  --white: #F2E9E3;
  --black: #242626;
}

body
{
  overflow-y: hidden;
  background-color: var(--black);
}

.rect
{
  display: block;
  position: absolute;
}

.intro_card
{
  position: absolute;
  display: inline-block;
  width: 80vw;
  height: 60vh;
  margin: 0 calc((100% - 80%) / 2);
  top: 5vh;

  border-radius: 30px;
  background: var(--white);
}

.info
{
  top: 5vh;
  margin-left: 2.5%;
  position: absolute;
  width: 45%;
}
.info h1
{
  top: 5vh;
  font-family: 'Avenir Next';
  font-size: calc(30px + (56 - 30) * ((40vw - 320px) / (600 - 320)));
  color: var(--dominant);
  font-weight: lighter;
  text-transform: uppercase;
}

.info p
{
  font-family: 'Source Sans Pro';
  font-size: calc(18px + (30 - 18) * ((40vw - 320px) / (600 - 320)));
  color: var(--black);
}

.intro_card .accent_img
{
  display: flex;
  position: absolute;
  height: 100%;
  width: 50%;
  right: 0;

  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  clip-path: polygon(calc((50%) * 0.17701149425) 0, 100% 0, 100% 100%, 0 100%);

  justify-content: center;
  align-items: center;

  background-image: url(/assets/images/BG_Scope_Light.jpg);
  background-size: cover;
  background-color: var(--dominant);
  background-blend-mode: multiply;
}

.intro_card .avatar
{
  height: 60%;
  display: flex;

  border-radius: 50%;
  background-color: var(--white);
}

.navbar
{
  position: absolute;
  display: block;
  overflow-x: hidden;
  z-index: 1;

  top: 0;
  right: 0;

  width: 100%;
  height: 5vh;
}

.navbar .logo
{
  display: block;
  position: absolute;
  left: 2.5%;
  top: 50%;
  transform: translateY(-50%);
  height: 4vh;
  color: var(--black);
}

.navbar ul
{
    display: flex;
    position: absolute;
    justify-content: space-evenly;
    right: 0;
    text-align: center;
    width: 46%;

    white-space: nowrap;
    list-style: none;
    padding: 0;
}

.navbar li
{
    width: 10%;
    display: inline-block;
}

.navbar li .highlight
{
  display: block;
  margin-top: -40%;
  margin-left: -13%;
  width: 130%;
  height: 120%;
  background-color: var(--accent);
  border-radius: 20px;
}

/* The text you see in the navbar*/
.navbar a, .navbar h2
{
    font-family: 'Archivo Narrow';
    font-weight: 300;
    font-size: 18px;
    line-height: 100%;
    text-decoration: none;
    color: var(--white);
    cursor: pointer; cursor: hand;
}

.social
{
  width: 100%;
  margin-left: -6px;
}

/* Social links in the side bar*/
.social ul
{
  align-items: center;
  text-align: center;
  list-style: none;
  padding: 0;
  
}
.social li
{
  width: 20%;
  display: inline-block;
}
.social img
{
  position: absolute;
  bottom: 37.5px;
  max-width: 42px;
  max-height: auto;
  margin: auto;
  image-rendering:crisp-edges;
}

/* Style page content */
.card_list
{
  width: calc(100vw - 300px);
  height: calc(100vh - 75px);
  top: 75px;
}

/*Scrollbar*/
::-webkit-scrollbar
{
  display: block;
  margin-right: 2px;
  width: 10px;
}
::-webkit-scrollbar-thumb
{
  background: #5a7a8653;
  border-radius: 7.5px;
  
}
::-webkit-scrollbar-thumb:hover {
  background: #5a7a86a6; 
}
::-webkit-scrollbar-track {
  background: #00000000; 
  margin-top: 75px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) 
{
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}