<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Blogs</title>
        <link rel="stylesheet" href="{{ "/assets/css/timeline_style.css " | prebend: site.baseurl }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <script>
             $(function () {
                var includes = $('[data-include]');
                $.each(includes, function () {
                    var file = '/assets/html/' + $(this).data('include') + '.html'
                    $(this).load(file)
                })
            })
        </script>
    </head>
    <body>

        <div data-include="sidebar"></div>

        <div data-include="navbar"></div>

        <div class="card_list">
            <ul>
                {% for post in site.posts %}
                <a href="{{ post.url }}"><li class="card">
                        <img src="{{ post.thumbnail }}">
                        <article class="content">
                            <h2>{{ post.title }}</h2>
                            <h3>{{ post.subtitle }}</h3>
                            <p>{{ post.content | strip_html | truncatewords: 50 }}</p>
                            <footer>{{ post.type }} - {{ post.date | date_to_long_string }}</footer>
                        </article>
                    </li></a>
                {% endfor %}
            </ul>
        </div>
    </body>
</html>